//! **************************************************************************
// Written by: Map P.68d on Thu Mar 06 00:13:15 2014
//! **************************************************************************

SCHEMATIC START;
COMP "cke" LOCATE = SITE "D7" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "cs_n" LOCATE = SITE "B8" LEVEL 1;
COMP "dqmh" LOCATE = SITE "D9" LEVEL 1;
COMP "dqml" LOCATE = SITE "C10" LEVEL 1;
COMP "sclk" LOCATE = SITE "E10" LEVEL 1;
COMP "we_n" LOCATE = SITE "B10" LEVEL 1;
COMP "ba<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "ba<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "blue<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "cas_n" LOCATE = SITE "A10" LEVEL 1;
COMP "ras_n" LOCATE = SITE "A9" LEVEL 1;
COMP "rst_n" LOCATE = SITE "E11" LEVEL 1;
COMP "hsync_n" LOCATE = SITE "B7" LEVEL 1;
COMP "vsync_n" LOCATE = SITE "D8" LEVEL 1;
COMP "clk50_in" LOCATE = SITE "P8" LEVEL 1;
COMP "sAddr<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "sAddr<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "sAddr<2>" LOCATE = SITE "B4" LEVEL 1;
COMP "sAddr<3>" LOCATE = SITE "E6" LEVEL 1;
COMP "sAddr<4>" LOCATE = SITE "E3" LEVEL 1;
COMP "sAddr<5>" LOCATE = SITE "C1" LEVEL 1;
COMP "sAddr<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "sAddr<7>" LOCATE = SITE "D3" LEVEL 1;
COMP "sAddr<8>" LOCATE = SITE "C2" LEVEL 1;
COMP "sAddr<9>" LOCATE = SITE "A3" LEVEL 1;
COMP "sData<0>" LOCATE = SITE "C15" LEVEL 1;
COMP "sData<1>" LOCATE = SITE "D12" LEVEL 1;
COMP "sData<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "sData<3>" LOCATE = SITE "B13" LEVEL 1;
COMP "sData<4>" LOCATE = SITE "D11" LEVEL 1;
COMP "sData<5>" LOCATE = SITE "A12" LEVEL 1;
COMP "sData<6>" LOCATE = SITE "C11" LEVEL 1;
COMP "sData<7>" LOCATE = SITE "D10" LEVEL 1;
COMP "sData<8>" LOCATE = SITE "B11" LEVEL 1;
COMP "led<0>" LOCATE = SITE "M6" LEVEL 1;
COMP "led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "led<3>" LOCATE = SITE "R7" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P10" LEVEL 1;
COMP "led<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R10" LEVEL 1;
COMP "red<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "red<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "red<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "green<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "green<2>" LOCATE = SITE "C3" LEVEL 1;
COMP "sclkfb" LOCATE = SITE "N8" LEVEL 1;
COMP "sAddr<10>" LOCATE = SITE "B6" LEVEL 1;
COMP "sAddr<11>" LOCATE = SITE "C5" LEVEL 1;
COMP "sAddr<12>" LOCATE = SITE "C6" LEVEL 1;
NET "clk50_in_BUFGP/IBUFG" BEL "clk50_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP u0_int_clk1x = BEL "readerState_0" BEL "u0/u1/refTimer_r_2" BEL
        "u0/u1/refTimer_r_0" BEL "u0/u1/refTimer_r_1" BEL "u0/u1/refTimer_r_3"
        BEL "u0/u1/refTimer_r_4" BEL "u0/u1/refTimer_r_7" BEL
        "u0/u1/refTimer_r_5" BEL "u0/u1/refTimer_r_6" BEL "u0/u1/refTimer_r_8"
        BEL "u0/u1/refTimer_r_9" BEL "u0/u1/state_r_FSM_FFd2" BEL
        "u0/u1/state_r_FSM_FFd1" BEL "u0/u1/state_r_FSM_FFd3" BEL
        "u0/u1/cmd_r_2" BEL "u0/u1/cmd_r_1" BEL "u0/u1/cmd_r_3" BEL
        "u0/u1/cmd_r_4" BEL "u0/u1/hDOut_r_8" BEL "u0/u1/hDOut_r_7" BEL
        "u0/u1/hDOut_r_6" BEL "u0/u1/hDOut_r_5" BEL "u0/u1/hDOut_r_4" BEL
        "u0/u1/hDOut_r_3" BEL "u0/u1/hDOut_r_2" BEL "u0/u1/hDOut_r_1" BEL
        "u0/u1/hDOut_r_0" BEL "u0/u1/rasTimer_r_2" BEL "u0/u1/rasTimer_r_1"
        BEL "u0/u1/rasTimer_r_0" BEL "u0/u1/activeFlag_r" BEL
        "u0/u1/activeRow_r_12" BEL "u0/u1/activeRow_r_11" BEL
        "u0/u1/activeRow_r_10" BEL "u0/u1/activeRow_r_9" BEL
        "u0/u1/activeRow_r_8" BEL "u0/u1/activeRow_r_7" BEL
        "u0/u1/activeRow_r_6" BEL "u0/u1/activeRow_r_5" BEL
        "u0/u1/activeRow_r_4" BEL "u0/u1/activeRow_r_3" BEL
        "u0/u1/activeRow_r_2" BEL "u0/u1/activeRow_r_1" BEL
        "u0/u1/activeRow_r_0" BEL "u0/u1/rfshCntr_r_13" BEL
        "u0/u1/rfshCntr_r_12" BEL "u0/u1/rfshCntr_r_11" BEL
        "u0/u1/rfshCntr_r_10" BEL "u0/u1/rfshCntr_r_9" BEL
        "u0/u1/rfshCntr_r_8" BEL "u0/u1/rfshCntr_r_7" BEL "u0/u1/rfshCntr_r_6"
        BEL "u0/u1/rfshCntr_r_5" BEL "u0/u1/rfshCntr_r_4" BEL
        "u0/u1/rfshCntr_r_3" BEL "u0/u1/rfshCntr_r_2" BEL "u0/u1/rfshCntr_r_1"
        BEL "u0/u1/rfshCntr_r_0" BEL "u0/u1/timer_r_14" BEL "u0/u1/timer_r_13"
        BEL "u0/u1/timer_r_12" BEL "u0/u1/timer_r_11" BEL "u0/u1/timer_r_10"
        BEL "u0/u1/timer_r_9" BEL "u0/u1/timer_r_8" BEL "u0/u1/timer_r_7" BEL
        "u0/u1/timer_r_6" BEL "u0/u1/timer_r_5" BEL "u0/u1/timer_r_4" BEL
        "u0/u1/timer_r_3" BEL "u0/u1/timer_r_2" BEL "u0/u1/timer_r_1" BEL
        "u0/u1/timer_r_0" BEL "u0/u1/nopCntr_r_19" BEL "u0/u1/nopCntr_r_18"
        BEL "u0/u1/nopCntr_r_17" BEL "u0/u1/nopCntr_r_16" BEL
        "u0/u1/nopCntr_r_15" BEL "u0/u1/nopCntr_r_14" BEL "u0/u1/nopCntr_r_13"
        BEL "u0/u1/nopCntr_r_12" BEL "u0/u1/nopCntr_r_11" BEL
        "u0/u1/nopCntr_r_10" BEL "u0/u1/nopCntr_r_9" BEL "u0/u1/nopCntr_r_8"
        BEL "u0/u1/nopCntr_r_7" BEL "u0/u1/nopCntr_r_6" BEL
        "u0/u1/nopCntr_r_5" BEL "u0/u1/nopCntr_r_4" BEL "u0/u1/nopCntr_r_3"
        BEL "u0/u1/nopCntr_r_2" BEL "u0/u1/nopCntr_r_1" BEL
        "u0/u1/nopCntr_r_0" BEL "u0/u1/activeBank_r_1" BEL
        "u0/u1/activeBank_r_0" BEL "u0/u1/sAddr_r_12" BEL "u0/u1/sAddr_r_11"
        BEL "u0/u1/sAddr_r_10" BEL "u0/u1/sAddr_r_9" BEL "u0/u1/sAddr_r_8" BEL
        "u0/u1/sAddr_r_7" BEL "u0/u1/sAddr_r_6" BEL "u0/u1/sAddr_r_5" BEL
        "u0/u1/sAddr_r_4" BEL "u0/u1/sAddr_r_3" BEL "u0/u1/sAddr_r_2" BEL
        "u0/u1/sAddr_r_1" BEL "u0/u1/sAddr_r_0" BEL "u0/u1/rdPipeline_r_3" BEL
        "u0/u1/rdPipeline_r_2" BEL "u0/u1/rdPipeline_r_1" BEL "u0/u1/ba_r_1"
        BEL "u0/u1/ba_r_0" BEL "u0/u1/cke_r" BEL "u0/u1/opBegun_r" BEL
        "u0/u1/state_r_FSM_FFd2_1" BEL "u0/u1/state_r_FSM_FFd3_1" BEL
        "u0/u1/state_r_FSM_FFd1_1" BEL "u0/gen_dlls.int_clk1x_buf.GCLKMUX" BEL
        "u0/gen_dlls.int_clk1x_buf";
PIN u0/gen_dlls.dllext_pins<2> = BEL "u0/gen_dlls.dllext" PINNAME CLKIN;
PIN u0/gen_dlls.dllint_pins<2> = BEL "u0/gen_dlls.dllint" PINNAME CLKIN;
TIMEGRP clk = PIN "u0/gen_dlls.dllext_pins<2>" PIN
        "u0/gen_dlls.dllint_pins<2>";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
TS_u0_int_clk1x = PERIOD TIMEGRP "u0_int_clk1x" TS_clk HIGH 50%;
SCHEMATIC END;

