//! **************************************************************************
// Written by: Map P.68d on Tue Feb 18 08:09:49 2014
//! **************************************************************************

SCHEMATIC START;
COMP "sData<10>" LOCATE = SITE "C12" LEVEL 1;
COMP "sData<11>" LOCATE = SITE "B14" LEVEL 1;
COMP "sData<12>" LOCATE = SITE "D14" LEVEL 1;
COMP "sData<13>" LOCATE = SITE "C16" LEVEL 1;
COMP "sData<14>" LOCATE = SITE "F12" LEVEL 1;
COMP "sData<15>" LOCATE = SITE "F13" LEVEL 1;
COMP "clk" LOCATE = SITE "T9" LEVEL 1;
COMP "ce_n" LOCATE = SITE "R4" LEVEL 1;
COMP "sdram_control_cke" LOCATE = SITE "D7" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "blue<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "sw2_n" LOCATE = SITE "E11" LEVEL 1;
COMP "hsync_n" LOCATE = SITE "B7" LEVEL 1;
COMP "sdram_control_cs_n" LOCATE = SITE "B8" LEVEL 1;
COMP "sdram_control_dqmh" LOCATE = SITE "D9" LEVEL 1;
COMP "sdram_control_dqml" LOCATE = SITE "C10" LEVEL 1;
COMP "sdram_control_we_n" LOCATE = SITE "B10" LEVEL 1;
COMP "sdram_clock_out_sclk" LOCATE = SITE "E10" LEVEL 1;
COMP "vsync_n" LOCATE = SITE "D8" LEVEL 1;
COMP "sAddr<0>" LOCATE = SITE "B5" LEVEL 1;
COMP "sAddr<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "sAddr<2>" LOCATE = SITE "B4" LEVEL 1;
COMP "sAddr<3>" LOCATE = SITE "E6" LEVEL 1;
COMP "sAddr<4>" LOCATE = SITE "E3" LEVEL 1;
COMP "sAddr<5>" LOCATE = SITE "C1" LEVEL 1;
COMP "sAddr<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "sAddr<7>" LOCATE = SITE "D3" LEVEL 1;
COMP "sAddr<8>" LOCATE = SITE "C2" LEVEL 1;
COMP "sAddr<9>" LOCATE = SITE "A3" LEVEL 1;
COMP "sData<0>" LOCATE = SITE "C15" LEVEL 1;
COMP "sData<1>" LOCATE = SITE "D12" LEVEL 1;
COMP "sData<2>" LOCATE = SITE "A14" LEVEL 1;
COMP "sData<3>" LOCATE = SITE "B13" LEVEL 1;
COMP "sData<4>" LOCATE = SITE "D11" LEVEL 1;
COMP "sData<5>" LOCATE = SITE "A12" LEVEL 1;
COMP "sData<6>" LOCATE = SITE "C11" LEVEL 1;
COMP "sData<7>" LOCATE = SITE "D10" LEVEL 1;
COMP "sData<8>" LOCATE = SITE "B11" LEVEL 1;
COMP "sData<9>" LOCATE = SITE "B12" LEVEL 1;
COMP "sdram_clock_in_sclkfb" LOCATE = SITE "N8" LEVEL 1;
COMP "led<0>" LOCATE = SITE "M6" LEVEL 1;
COMP "led<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "led<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "led<3>" LOCATE = SITE "R7" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P10" LEVEL 1;
COMP "led<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "led<6>" LOCATE = SITE "R10" LEVEL 1;
COMP "red<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "red<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "red<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "green<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "green<2>" LOCATE = SITE "C3" LEVEL 1;
COMP "pps<6>" LOCATE = SITE "T10" LEVEL 1;
COMP "sdram_control_ba<0>" LOCATE = SITE "A7" LEVEL 1;
COMP "sdram_control_ba<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "sdram_control_cas_n" LOCATE = SITE "A10" LEVEL 1;
COMP "sdram_control_ras_n" LOCATE = SITE "A9" LEVEL 1;
COMP "sAddr<10>" LOCATE = SITE "B6" LEVEL 1;
COMP "sAddr<11>" LOCATE = SITE "C5" LEVEL 1;
COMP "sAddr<12>" LOCATE = SITE "C6" LEVEL 1;
PIN u0_u2_gen_dlls.dllint_pins<2> = BEL "u0_u2_gen_dlls.dllint" PINNAME CLKIN;
PIN u0_u2_gen_dlls.dllext_pins<2> = BEL "u0_u2_gen_dlls.dllext" PINNAME CLKIN;
TIMEGRP clk = PIN "u0_u2_gen_dlls.dllint_pins<2>" PIN
        "u0_u2_gen_dlls.dllext_pins<2>" BEL "u0_divCnt_16" BEL "u0_divCnt_15"
        BEL "u0_divCnt_14" BEL "u0_divCnt_13" BEL "u0_divCnt_12" BEL
        "u0_divCnt_11" BEL "u0_divCnt_10" BEL "u0_divCnt_9" BEL "u0_divCnt_8"
        BEL "u0_divCnt_7" BEL "u0_divCnt_6" BEL "u0_divCnt_5" BEL
        "u0_divCnt_4" BEL "u0_divCnt_3" BEL "u0_divCnt_2" BEL "u0_divCnt_1"
        BEL "u0_divCnt_0" BEL "u0_rst_i";
PIN u0_vga_generator_port1_fifo_bram1.A_pins<11> = BEL
        "u0_vga_generator_port1_fifo_bram1.A" PINNAME CLKA;
PIN u0_vga_generator_port1_fifo_bram1.B_pins<11> = BEL
        "u0_vga_generator_port1_fifo_bram1.B" PINNAME CLKB;
TIMEGRP u0_u2_int_clk1x = BEL "u0_x_9" BEL "u0_x_8" BEL "u0_x_7" BEL "u0_x_6"
        BEL "u0_x_5" BEL "u0_x_4" BEL "u0_x_3" BEL "u0_x_2" BEL "u0_x_1" BEL
        "u0_x_0" BEL "u0_y_9" BEL "u0_y_8" BEL "u0_y_7" BEL "u0_y_6" BEL
        "u0_y_5" BEL "u0_y_4" BEL "u0_y_3" BEL "u0_y_2" BEL "u0_y_1" BEL
        "u0_y_0" BEL "u0_hAddr1_23" BEL "u0_hAddr1_22" BEL "u0_hAddr1_21" BEL
        "u0_hAddr1_20" BEL "u0_hAddr1_19" BEL "u0_hAddr1_18" BEL
        "u0_hAddr1_17" BEL "u0_hAddr1_16" BEL "u0_hAddr1_15" BEL
        "u0_hAddr1_14" BEL "u0_hAddr1_13" BEL "u0_hAddr1_12" BEL
        "u0_hAddr1_11" BEL "u0_hAddr1_10" BEL "u0_hAddr1_9" BEL "u0_hAddr1_8"
        BEL "u0_hAddr1_7" BEL "u0_hAddr1_6" BEL "u0_hAddr1_5" BEL
        "u0_hAddr1_4" BEL "u0_hAddr1_3" BEL "u0_hAddr1_2" BEL "u0_hAddr1_1"
        BEL "u0_hAddr1_0" BEL "u0_hAddr0_23" BEL "u0_hAddr0_22" BEL
        "u0_hAddr0_21" BEL "u0_hAddr0_20" BEL "u0_hAddr0_19" BEL
        "u0_hAddr0_18" BEL "u0_hAddr0_17" BEL "u0_hAddr0_16" BEL
        "u0_hAddr0_15" BEL "u0_hAddr0_14" BEL "u0_hAddr0_13" BEL
        "u0_hAddr0_12" BEL "u0_hAddr0_11" BEL "u0_hAddr0_10" BEL "u0_hAddr0_9"
        BEL "u0_hAddr0_8" BEL "u0_hAddr0_7" BEL "u0_hAddr0_6" BEL
        "u0_hAddr0_5" BEL "u0_hAddr0_4" BEL "u0_hAddr0_3" BEL "u0_hAddr0_2"
        BEL "u0_hAddr0_1" BEL "u0_hAddr0_0" BEL "u0_color_5" BEL "u0_color_0"
        BEL "u0_draw_0" BEL "u0_u1_slot_r_0" BEL "u0_u1_slot_r_1" BEL
        "u0_u1_slot_r_2" BEL "u0_u1_slot_r_3" BEL "u0_u1_slot_r_4" BEL
        "u0_u1_slot_r_5" BEL "u0_u1_slot_r_6" BEL "u0_u1_slot_r_7" BEL
        "u0_u1_slot_r_8" BEL "u0_u1_slot_r_9" BEL "u0_u1_slot_r_10" BEL
        "u0_u1_slot_r_11" BEL "u0_u1_slot_r_12" BEL "u0_u1_slot_r_13" BEL
        "u0_u1_slot_r_14" BEL "u0_u1_slot_r_15" BEL "u0_u1_port_r_0" BEL
        "u0_u1_door_r_0" BEL "u0_u2_u1_refTimer_r_2" BEL
        "u0_u2_u1_refTimer_r_0" BEL "u0_u2_u1_refTimer_r_1" BEL
        "u0_u2_u1_refTimer_r_3" BEL "u0_u2_u1_refTimer_r_4" BEL
        "u0_u2_u1_refTimer_r_7" BEL "u0_u2_u1_refTimer_r_5" BEL
        "u0_u2_u1_refTimer_r_6" BEL "u0_u2_u1_refTimer_r_8" BEL
        "u0_u2_u1_refTimer_r_9" BEL "u0_u2_u1_state_r_FSM_FFd2" BEL
        "u0_u2_u1_state_r_FSM_FFd1" BEL "u0_u2_u1_state_r_FSM_FFd3" BEL
        "u0_u2_u1_cmd_r_2" BEL "u0_u2_u1_cmd_r_1" BEL "u0_u2_u1_cmd_r_3" BEL
        "u0_u2_u1_cmd_r_4" BEL "u0_u2_u1_hDOut_r_15" BEL "u0_u2_u1_hDOut_r_14"
        BEL "u0_u2_u1_hDOut_r_13" BEL "u0_u2_u1_hDOut_r_12" BEL
        "u0_u2_u1_hDOut_r_11" BEL "u0_u2_u1_hDOut_r_10" BEL
        "u0_u2_u1_hDOut_r_9" BEL "u0_u2_u1_hDOut_r_8" BEL "u0_u2_u1_hDOut_r_5"
        BEL "u0_u2_u1_hDOut_r_4" BEL "u0_u2_u1_hDOut_r_3" BEL
        "u0_u2_u1_hDOut_r_0" BEL "u0_u2_u1_wrTimer_r_1" BEL
        "u0_u2_u1_wrTimer_r_0" BEL "u0_u2_u1_rasTimer_r_2" BEL
        "u0_u2_u1_rasTimer_r_1" BEL "u0_u2_u1_rasTimer_r_0" BEL
        "u0_u2_u1_activeFlag_r_0" BEL "u0_u2_u1_timer_r_14" BEL
        "u0_u2_u1_timer_r_13" BEL "u0_u2_u1_timer_r_12" BEL
        "u0_u2_u1_timer_r_11" BEL "u0_u2_u1_timer_r_10" BEL
        "u0_u2_u1_timer_r_9" BEL "u0_u2_u1_timer_r_8" BEL "u0_u2_u1_timer_r_7"
        BEL "u0_u2_u1_timer_r_6" BEL "u0_u2_u1_timer_r_5" BEL
        "u0_u2_u1_timer_r_4" BEL "u0_u2_u1_timer_r_3" BEL "u0_u2_u1_timer_r_2"
        BEL "u0_u2_u1_timer_r_1" BEL "u0_u2_u1_timer_r_0" BEL
        "u0_u2_u1_activeRow_r_0_12" BEL "u0_u2_u1_activeRow_r_0_11" BEL
        "u0_u2_u1_activeRow_r_0_10" BEL "u0_u2_u1_activeRow_r_0_9" BEL
        "u0_u2_u1_activeRow_r_0_8" BEL "u0_u2_u1_activeRow_r_0_7" BEL
        "u0_u2_u1_activeRow_r_0_6" BEL "u0_u2_u1_activeRow_r_0_5" BEL
        "u0_u2_u1_activeRow_r_0_4" BEL "u0_u2_u1_activeRow_r_0_3" BEL
        "u0_u2_u1_activeRow_r_0_2" BEL "u0_u2_u1_activeRow_r_0_1" BEL
        "u0_u2_u1_activeRow_r_0_0" BEL "u0_u2_u1_rfshCntr_r_13" BEL
        "u0_u2_u1_rfshCntr_r_12" BEL "u0_u2_u1_rfshCntr_r_11" BEL
        "u0_u2_u1_rfshCntr_r_10" BEL "u0_u2_u1_rfshCntr_r_9" BEL
        "u0_u2_u1_rfshCntr_r_8" BEL "u0_u2_u1_rfshCntr_r_7" BEL
        "u0_u2_u1_rfshCntr_r_6" BEL "u0_u2_u1_rfshCntr_r_5" BEL
        "u0_u2_u1_rfshCntr_r_4" BEL "u0_u2_u1_rfshCntr_r_3" BEL
        "u0_u2_u1_rfshCntr_r_2" BEL "u0_u2_u1_rfshCntr_r_1" BEL
        "u0_u2_u1_rfshCntr_r_0" BEL "u0_u2_u1_sDataDir_r" BEL
        "u0_u2_u1_nopCntr_r_13" BEL "u0_u2_u1_nopCntr_r_12" BEL
        "u0_u2_u1_nopCntr_r_11" BEL "u0_u2_u1_nopCntr_r_10" BEL
        "u0_u2_u1_nopCntr_r_9" BEL "u0_u2_u1_nopCntr_r_8" BEL
        "u0_u2_u1_nopCntr_r_7" BEL "u0_u2_u1_nopCntr_r_6" BEL
        "u0_u2_u1_nopCntr_r_5" BEL "u0_u2_u1_nopCntr_r_4" BEL
        "u0_u2_u1_nopCntr_r_3" BEL "u0_u2_u1_nopCntr_r_2" BEL
        "u0_u2_u1_nopCntr_r_1" BEL "u0_u2_u1_nopCntr_r_0" BEL
        "u0_u2_u1_activeBank_r_1" BEL "u0_u2_u1_activeBank_r_0" BEL
        "u0_u2_u1_rdPipeline_r_4" BEL "u0_u2_u1_rdPipeline_r_3" BEL
        "u0_u2_u1_rdPipeline_r_2" BEL "u0_u2_u1_rdPipeline_r_1" BEL
        "u0_u2_u1_rdPipeline_r_0" BEL "u0_u2_u1_sAddr_r_12" BEL
        "u0_u2_u1_sAddr_r_11" BEL "u0_u2_u1_sAddr_r_10" BEL
        "u0_u2_u1_sAddr_r_9" BEL "u0_u2_u1_sAddr_r_8" BEL "u0_u2_u1_sAddr_r_7"
        BEL "u0_u2_u1_sAddr_r_6" BEL "u0_u2_u1_sAddr_r_5" BEL
        "u0_u2_u1_sAddr_r_4" BEL "u0_u2_u1_sAddr_r_3" BEL "u0_u2_u1_sAddr_r_2"
        BEL "u0_u2_u1_sAddr_r_1" BEL "u0_u2_u1_sAddr_r_0" BEL
        "u0_u2_u1_ba_r_1" BEL "u0_u2_u1_ba_r_0" BEL "u0_u2_u1_cke_r" BEL
        "u0_vga_generator_port1_fifo_level_i_0" BEL
        "u0_vga_generator_port1_fifo_level_i_1" BEL
        "u0_vga_generator_port1_fifo_level_i_2" BEL
        "u0_vga_generator_port1_fifo_level_i_3" BEL
        "u0_vga_generator_port1_fifo_level_i_4" BEL
        "u0_vga_generator_port1_fifo_level_i_5" BEL
        "u0_vga_generator_port1_fifo_level_i_6" BEL
        "u0_vga_generator_port1_fifo_level_i_7" BEL
        "u0_vga_generator_port1_fifo_rd_addr_0" BEL
        "u0_vga_generator_port1_fifo_rd_addr_1" BEL
        "u0_vga_generator_port1_fifo_rd_addr_2" BEL
        "u0_vga_generator_port1_fifo_rd_addr_3" BEL
        "u0_vga_generator_port1_fifo_rd_addr_4" BEL
        "u0_vga_generator_port1_fifo_rd_addr_5" BEL
        "u0_vga_generator_port1_fifo_rd_addr_6" BEL
        "u0_vga_generator_port1_fifo_rd_addr_7" BEL
        "u0_vga_generator_port1_fifo_wr_addr_0" BEL
        "u0_vga_generator_port1_fifo_wr_addr_1" BEL
        "u0_vga_generator_port1_fifo_wr_addr_2" BEL
        "u0_vga_generator_port1_fifo_wr_addr_3" BEL
        "u0_vga_generator_port1_fifo_wr_addr_4" BEL
        "u0_vga_generator_port1_fifo_wr_addr_5" BEL
        "u0_vga_generator_port1_fifo_wr_addr_6" BEL
        "u0_vga_generator_port1_fifo_wr_addr_7" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_0" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_1" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_2" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_3" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_4" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_5" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_6" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_7" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_8" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_9" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_10" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_11" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_12" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_13" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_14" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_cnt_r_15" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_sync_r" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_gate_r" BEL
        "u0_vga_generator_port1_gen_syncs_fit.vsync_blank_r" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_0" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_1" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_2" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_3" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_4" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_5" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_6" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_7" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_8" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_9" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_10" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_11" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_12" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_13" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_14" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_cnt_r_15" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_sync_r" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_gate_r" BEL
        "u0_vga_generator_port1_gen_syncs_fit.hsync_blank_r" BEL
        "u0_vga_generator_port1_clk_div_cnt_7" BEL
        "u0_vga_generator_port1_clk_div_cnt_6" BEL
        "u0_vga_generator_port1_clk_div_cnt_5" BEL
        "u0_vga_generator_port1_clk_div_cnt_4" BEL
        "u0_vga_generator_port1_clk_div_cnt_3" BEL
        "u0_vga_generator_port1_clk_div_cnt_2" BEL
        "u0_vga_generator_port1_clk_div_cnt_1" BEL
        "u0_vga_generator_port1_clk_div_cnt_0" BEL
        "u0_vga_generator_port1_hsync_r_3" BEL
        "u0_vga_generator_port1_hsync_r_2" BEL
        "u0_vga_generator_port1_hsync_r_1" BEL
        "u0_vga_generator_port1_blank_r_2" BEL
        "u0_vga_generator_port1_blank_r_1" BEL
        "u0_vga_generator_port1_pixel_data_r_15" BEL
        "u0_vga_generator_port1_pixel_data_r_14" BEL
        "u0_vga_generator_port1_pixel_data_r_13" BEL
        "u0_vga_generator_port1_pixel_data_r_12" BEL
        "u0_vga_generator_port1_pixel_data_r_11" BEL
        "u0_vga_generator_port1_pixel_data_r_10" BEL
        "u0_vga_generator_port1_pixel_data_r_9" BEL
        "u0_vga_generator_port1_pixel_data_r_8" BEL
        "u0_vga_generator_port1_pixel_data_r_7" BEL
        "u0_vga_generator_port1_pixel_data_r_6" BEL
        "u0_vga_generator_port1_pixel_data_r_5" BEL
        "u0_vga_generator_port1_pixel_data_r_4" BEL
        "u0_vga_generator_port1_pixel_data_r_3" BEL
        "u0_vga_generator_port1_pixel_data_r_2" BEL
        "u0_vga_generator_port1_pixel_data_r_1" BEL
        "u0_vga_generator_port1_pixel_data_r_0" BEL
        "u0_vga_generator_port1_rd_r" BEL "u0_vga_generator_port1_eof_r" BEL
        "u0_vga_generator_port1_rgb_r_8" BEL "u0_vga_generator_port1_rgb_r_7"
        BEL "u0_vga_generator_port1_rgb_r_6" BEL
        "u0_vga_generator_port1_rgb_r_5" BEL "u0_vga_generator_port1_rgb_r_4"
        BEL "u0_vga_generator_port1_rgb_r_2" BEL
        "u0_vga_generator_port1_rgb_r_1" BEL "u0_vga_generator_port1_rgb_r_0"
        BEL "u0_vga_generator_port1_cke" BEL "u0_u1_port_r_0_1" BEL
        "u0_u2_u1_hDOut_r_2" BEL "u0_u2_u1_hDOut_r_7" BEL "u0_u2_u1_hDOut_r_1"
        BEL "u0_u2_u1_sData_r_2" BEL "u0_u2_u1_hDOut_r_6" BEL
        "u0_u2_u1_sData_r_7" BEL "u0_u2_gen_dlls.int_clk1x_buf.GCLKMUX" BEL
        "u0_u2_gen_dlls.int_clk1x_buf" PIN
        "u0_vga_generator_port1_fifo_bram1.A_pins<11>" PIN
        "u0_vga_generator_port1_fifo_bram1.B_pins<11>";
TS_clk = PERIOD TIMEGRP "clk" 10 ns HIGH 50%;
TS_u0_u2_int_clk1x = PERIOD TIMEGRP "u0_u2_int_clk1x" TS_clk HIGH 50%;
SCHEMATIC END;

