# XSA Board FPGA pin assignment constraints
NET      "clk"     TNM_NET  =      "clk"; 
TIMESPEC "TS_clk"  =        PERIOD "clk"  10 ns HIGH 50 %; 

# Manually assign locations for the DCMs along the bottom of the FPGA
# because PAR sometimes places them in opposing corners and that ruins the clocks.
#INST "u0_u2_dllint" LOC="DCM_X0Y0";
#INST "u0_u2_dllext" LOC="DCM_X1Y0";

NET 		"blue[0]" LOC = C9;
NET 		"blue[1]" LOC = E7;
NET 		"blue[2]" LOC = D5;
NET 		"green[0]" LOC = A8;
NET 		"green[1]" LOC = A5;
NET 		"green[2]" LOC = C3;
NET 		hsync_n LOC = B7;
NET 		"red[0]" LOC = C8;
NET 		"red[1]" LOC = D6;
NET 		"red[2]" LOC = B1;
NET 		vsync_n LOC = D8; 

# EXTERNAL (i.e. USER) INTERFACE SIGNALS
net      sw2_n     loc=E11; # active-low pushbutton
net      pps<6>    loc=T10;
net      led<0>    loc=M6;  
net      led<1>    loc=M11; 
net      led<2>    loc=N6;  
net      led<3>    loc=R7;  
net      led<4>    loc=P10; 
net      led<5>    loc=T7;  
net      led<6>    loc=R10; 

# GLOBAL CLOCK SIGNAL
net      clk       loc=T9;  # main clock

# FLASH RAM SIGNAL
net      ce_n      loc=R4;  # Flash RAM chip-enable

# SDRAM CLOCK SIGNALS
net      sdram_clock_in_sclkfb   loc=N8;  # feedback SDRAM clock after PCB delays
net      sdram_clock_out_sclk    loc=E10; # clock to SDRAM

# SDRAM CONTROL SIGNALS
net      sdram_control_cke       loc=D7;  # SDRAM clock enable
net      sdram_control_cs_n      loc=B8;  # SDRAM chip-select
net      sdram_control_ras_n     loc=A9;  # SDRAM RAS
net      sdram_control_cas_n     loc=A10; # SDRAM CAS
net      sdram_control_we_n      loc=B10; # SDRAM write-enable
net      "sdram_control_ba[0]"   loc=A7;  # SDRAM bank-address selects one of four banks 
net      "sdram_control_ba[1]"   loc=C7;  # SDRAM bank-address selects one of four banks 
net      sdram_control_dqmh      loc=D9;  # SDRAM DQMH controls upper half of data bus during read
net      sdram_control_dqml      loc=C10; # SDRAM DQML controls lower half of data bus during read

# SDRAM ADDRESS BUS SIGNALS
net      sAddr<0>  loc=B5;  
net      sAddr<1>  loc=A4;  
net      sAddr<2>  loc=B4;  
net      sAddr<3>  loc=E6;  
net      sAddr<4>  loc=E3;  
net      sAddr<5>  loc=C1;  
net      sAddr<6>  loc=E4;  
net      sAddr<7>  loc=D3;  
net      sAddr<8>  loc=C2;  
net      sAddr<9>  loc=A3;  
net      sAddr<10> loc=B6;  
net      sAddr<11> loc=C5;  
net      sAddr<12> loc=C6;  

# SDRAM DATA BUS SIGNALS
net      sData<0>  loc=C15; 
net      sData<1>  loc=D12; 
net      sData<2>  loc=A14; 
net      sData<3>  loc=B13; 
net      sData<4>  loc=D11; 
net      sData<5>  loc=A12; 
net      sData<6>  loc=C11; 
net      sData<7>  loc=D10; 
net      sData<8>  loc=B11; 
net      sData<9>  loc=B12; 
net      sData<10> loc=C12; 
net      sData<11> loc=B14; 
net      sData<12> loc=D14; 
net      sData<13> loc=C16; 
net      sData<14> loc=F12; 
net      sData<15> loc=F13; 


